@import "../../assets/sass/abstract/variables";
@import "../../assets/sass/components/button";
@import "../../assets/sass/base/typography";
.row {
  display: flex;
  width: 100%;
  color: $color-white;
  position: relative;

  .col1 {
    width: 63.793%;
    height: 100%;
    background-color: $color-primary-bg;

    .text-wrapper {
      width: 45%;
      position: absolute;
      height: max-content;
      top: 29px;
      left: 352px;
      h2 {
        width: min-content;
        margin: 0;
      }
      p {
        font-family: Poppins;
        font-weight: 600;
        line-height: 26px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        width: 552px;
        margin-bottom: 2rem;
      }
      button {
        bottom: 0;
      }
    }
    img {
      position: absolute;
      right: 248px;
    }
  }
  .col2 {
    width: calc(100% - 63.793%);
  }
}
