@import "../../assets/sass/abstract/variables";
@import "../../assets/sass/components/button";
@import "../../assets/sass/base/typography";
@import "../../assets/sass/abstract/mixins";
.row {
  display: flex;
  width: 100%;
  color: $color-white;
  position: relative;

  .col1 {
    width: 63.793%;
    height: 100%;
    background-color: $color-primary-bg;

    .text-wrapper {
      position: absolute;
      height: max-content;
      top: 29px;
      left: 14%;
      width: 37%;
      @include respond(big-desktop) {
        width: 27%;
      }
      h2 {
        width: min-content;
        margin: 0;
        @include respond(tab-land) {
          font-size: 75px;
        }
      }
      p {
        font-family: Poppins;
        font-weight: 600;
        line-height: 26px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        margin-bottom: 2rem;
        @include respond(tab-land) {
          font-size: small;
          line-height: 1rem;
          margin-bottom: 1rem;
        }
        @include respond(tab-port) {
          font-size: x-small;
          line-height: 0.9rem;
        }
      }
      button {
        bottom: 0;
        @include respond(tab-land) {
          width: 45%;
          height: 2.5rem;
        }
        @include respond(tab-port) {
          width: fit-content;
          height: 2rem;
        }
      }
    }
    img {
      position: absolute;
      right: 50px;
      width: 41%;
      top: 16%;
      @include respond(big-desktop) {
        right: 128px;
        width: 37%;
        top: 9%;
      }
      @include respond(tab-port) {
        top: 21%;
        right: 3%;
      }
    }
  }
  .col2 {
    width: calc(100% - 63.793%);
  }
}
