<div class="container">
  <div class="row">
    <h2 class="heading-orange">Recipes</h2>
    <div class="review-wrapper">
      <!-- @for ( review of reviews ;track review) { -->

      <div class="card">
        <!-- <h4 class="review-name">{{ review.name }}</h4>
        <p class="review">{{ review.review }}</p>
        <div class="review-rating">
          <img src="{{ review.ratingImage }}" alt="" />
        </div> -->
      </div>
      <!-- } -->
      <button class="btn">contact us</button>
    </div>
  </div>
</div>
