<div class="container u-center-div">
  <div class="row u-center-div">
    <h2 class="heading-orange">Recipes</h2>
    <div class="cards-wrapper u-center-div">
      @for ( meal of meals ;track meal) {

      <div class="card border-radios-30">
        <img
          class="border-radios-30"
          [src]="meal.strMealThumb"
          [alt]="meal.strMeal"
        />
        <h4 class="meal-name">{{ meal.strMeal }}</h4>
        <p class="description">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled
        </p>
      </div>
      }
    </div>
  </div>
  <button class="btn">contact us</button>
</div>
