@import "../../assets/sass/abstract/variables";
@import "../../assets/sass/components/button";
@import "../../assets/sass/base/typography";
@import "../../assets/sass/base/utilities";
.row {
  display: flex;
  position: relative;
  .col1 {
    width: 42%;
    background-image: url(../../assets/img/mask-group3.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: $color-primary-bg;
    position: relative;
    @include respond(tab-land) {
      background-size: cover;
    }
    p {
      width: 42.8%;
      font-family: Poppins;
      font-size: 18px;
      font-weight: 600;
      line-height: 26px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      position: absolute;
      right: 7%;
      top: 18%;
      @include respond(tab-land) {
        width: 64.8%;
        top: 10%;
      }
      @include respond(tab-port) {
        font-size: small;
        line-height: 1.1rem;
      }
    }
  }
  .col2 {
    width: calc(100% - 42%);
    background-color: $color-primary-bg;
    justify-content: unset;
    h2 {
      width: 67%;
      text-align: right;
      font-size: 120px;
      margin: 2rem 0 0;
      @include respond(big-desktop) {
        font-size: 144px;
      }
      @include respond(tab-land) {
        width: 80%;
        font-size: 88px;
      }
      @include respond(tab-port) {
        width: 65%;
        font-size: 50px;
      }
    }
    .images-wrapper {
      position: absolute;
      top: 49%;
      left: 0;
      display: flex;
      width: 94%;
      justify-content: space-evenly;
      @include respond(big-desktop) {
        width: 96%;
        top: 48%;
      }
      @include respond(tab-land) {
        width: 93%;
      }
      img {
        width: 20%;
        @include respond(big-desktop) {
          width: 17%;
        }
        @include respond(tab-land) {
          width: 15%;
        }
        @include respond(tab-port) {
          width: 20%;
        }
      }
    }
    .btn {
      position: absolute;
      bottom: 7%;
      left: 50%;
      @include respond(tab-port) {
        width: 25%;
        height: 2.5rem;
      }
    }
  }
}
