<div class="row">
  <div class="col1">
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
    </p>
  </div>
  <div class="col2 u-center-div">
    <h2 class="heading-white">How we work</h2>
    <div class="images-wrapper">
      @for (image of images ;track image) {
      <img [src]="image" [alt]="foodTitle" />

      }
    </div>
    <button class="btn">contact us</button>
  </div>
</div>
