// COLORS
$color-primary-bg: rgba(201, 138, 64, 1);
$color-button: #fdba10;
$card-color-bg: #ffd8ab;

$color-grey-dark: #333333;

$color-white: #ffffff;
$color-black: #000;
$color-brown: #584125;

// FONT
$default-font-size: 1.6rem;
