@import "../../assets/sass/abstract/variables";
@import "../../assets/sass/components/button";
@import "../../assets/sass/base/utilities";
@import "../../assets/sass/abstract/mixins";
.row {
  display: flex;
  width: 100%;
  color: $color-white;
  position: relative;
  .col1 {
    position: relative;
    width: 63.793%;
    height: 100%;
    background-color: $color-primary-bg;
    .p1 {
      font-family: Sen;
      font-size: 28px;
      font-weight: 700;
      line-height: 33.69px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      width: 179px;
      height: 68px;
      position: absolute;
      top: 26px;
      left: 421px;
      margin: 0;
      text-transform: uppercase;
      @include respond(tab-land) {
        font-size: 18px;
        line-height: 20.69px;
      }
      @include respond(tab-port) {
        top: 5%;
        left: 40%;
      }
      @include respond(phone) {
        line-height: 0.5rem;
        font-size: xx-small;
        width: 35%;
        top: 3%;
        left: 59%;
      }
    }
    .text-wrapper {
      position: absolute;
      width: 72%;
      left: 100px;
      top: 27%;
      @include respond(big-desktop) {
        left: 20%;
      }
      @include respond(tab-land) {
        width: 74%;
        top: 22%;
      }
      @include respond(tab-port) {
        top: 33%;
        left: 9%;
      }
      @include respond(phone) {
        top: 24%;
      }
      h1 {
        margin: 0;
        font-family: "sen";
        font-size: 74px;
        font-weight: 800;
        line-height: 89.03px;
        text-transform: uppercase;
        @include respond(tab-land) {
          font-size: 50px;
        }
        @include respond(tab-port) {
          font-size: larger;
          line-height: unset;
        }
        @include respond(phone) {
          font-size: large;
        }
      }
      p {
        font-family: Poppins;
        font-weight: 600;
        line-height: 26px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        height: 78px;
        width: 100%;
        margin-bottom: 2rem;
        @include respond(tab-land) {
          font-size: smaller;
        }
        @include respond(tab-port) {
          font-size: small;
          line-height: 19px;
        }
        @include respond(phone) {
          font-size: xx-small;
          line-height: 15px;
        }
      }
      .btn {
        @include respond(tab-land) {
          width: 30%;
          height: 2.5rem;
          font-size: 14px;
        }
        @include respond(tab-port) {
          width: 25%;
          height: 1.5rem;
          font-size: 11px;
        }
        @include respond(phone) {
          width: 50%;
        }
      }
    }
    h5 {
      position: absolute;
      height: 26px;
      top: 794px;
      left: 469px;
      margin: 0;
      font-family: Poppins;
      font-size: 18px;
      font-weight: 700;
      line-height: 26px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      span {
        font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0.15em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        margin-left: 0.75rem;
      }
    }
    .media {
      background-image: url(../../assets/img/mask-group1.png);
      width: 449px;
      height: 201px;
      top: 639px;
      position: absolute;
      left: 0;
      background-color: $color-white;
      border-top: 1px solid $color-primary-bg;
      align-items: end;
      justify-content: space-between;
      padding: 2rem;
      @include respond(tab-land) {
        width: 44%;
        top: 76%;
        height: 24%;
        background-size: cover;
        padding: 0.5rem;
      }
      @include respond(phone) {
        width: 100%;
      }
      img {
        @include respond(tab-port) {
          width: 1rem;
        }
      }
    }
  }
  .col2 {
    width: calc(100% - 63.793%);
    background-image: url(../../assets/img/Mask\ Group.png);
    background-size: cover;
    background-repeat: no-repeat;
    @include respond(phone) {
      background-image: unset;
      background-color: $color-primary-bg;
    }
    .ingredient {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 21rem;
      height: 25rem;
      background: radial-gradient(
        50% 50% at 50% 50%,
        #f2a850 0%,
        rgba(228, 166, 92, 0) 100%
      );
      overflow: hidden;
      position: absolute;
      top: 54%;
      left: 58%;
      transform: translate(-50%, -50%);
      animation: float 3s infinite ease-in-out;
      @include respond(big-desktop) {
        top: 46%;
        left: 54%;
      }
      @include respond(tab-land) {
        width: 13rem;
        height: 16rem;
        top: 52%;
        left: 62%;
      }
      @include respond(tab-port) {
        width: 8rem;
        height: 9rem;
        top: 52%;
        left: 60%;
      }
      @include respond(phone) {
        top: 35%;
        left: 69%;
      }
    }
    img {
      position: absolute;
      top: 50%;
      transform: translate(-38%, -51%);
      animation: float 3s infinite ease-in-out;
      @include respond(tab-land) {
        width: 33%;
        top: 50%;
      }
      @include respond(phone) {
        width: 40%;
        top: 37%;
        right: -35px;
      }
    }
  }
}
@keyframes float {
  0% {
    transform: translate(-38%, -51%) translateY(0);
  }
  50% {
    transform: translate(-38%, -51%) translateY(-10px);
  }
  100% {
    transform: translate(-38%, -51%) translateY(0);
  }
}
