@import "../../assets/sass/abstract/variables";
@import "../../assets/sass/components/button";
.row {
  display: flex;
  width: 100%;
  color: $color-white;
  .col1 {
    position: relative;
    width: 63.793%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: $color-primary-bg;
    .p1 {
      font-family: Sen;
      font-size: 28px;
      font-weight: 700;
      line-height: 33.69px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      width: 179px;
      height: 68px;
      position: absolute;
      top: 26px;
      left: 421px;
      margin: 0;
      text-transform: uppercase;
    }
    .text-wrapper {
      width: 56%;
      position: absolute;
      width: 621px;
      height: 89px;
      top: 288px;
      left: 352px;
      h1 {
        margin: 0;
        font-family: "sen";
        font-size: 74px;
        font-weight: 800;
        line-height: 89.03px;
        text-transform: uppercase;
      }
      p {
        font-family: Poppins;
        font-weight: 600;
        line-height: 26px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        height: 78px;
        width: 552px;
        margin-bottom: 2rem;
      }
    }
    h5 {
      position: absolute;
      height: 26px;
      top: 794px;
      left: 469px;
      margin: 0;
      font-family: Poppins;
      font-size: 18px;
      font-weight: 700;
      line-height: 26px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      span {
        font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0.15em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        margin-left: 0.75rem;
      }
    }
    .media {
      background-image: url(../../assets/img/mask-group1.png);
      width: 449px;
      height: 201px;
      top: 639px;
      position: absolute;
      left: 0;
      background-color: $color-white;
      border-top: 1px solid $color-primary-bg;
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: space-between;
      padding: 2rem;
    }
  }
  .col2 {
    width: calc(100% - 63.793%);
    background-image: url(../../assets/img/Mask\ Group.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
