<div class="row">
  <div class="col1">
    <p class="p1">Peachy Pup Bakery</p>
    <div class="text-wrapper">
      <h1>Tasty pastries</h1>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the
      </p>
      <button class="btn">See more</button>
    </div>
    <h5>Telephone: +7 700 000 00 00</h5>
    <div class="media"></div>
  </div>
  <div class="col2"></div>
</div>
