@import "../../assets/sass/abstract/variables";
@import "../../assets/sass/components/button";
@import "../../assets/sass/base/utilities";
@import "../../assets/sass/abstract/mixins";
@import "../../assets/sass/base/typography";
.container {
  width: 100%;
  color: $color-white;
  position: relative;
  background-color: $color-primary-bg;
  background-image: url(../../assets/img/Mask-Group2.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3.8rem;
  @include respond(tab-port) {
    padding: 0.8rem;
  }
  .row {
    h2 {
      margin: 0;
      margin-bottom: 2rem;
      @include respond(tab-land) {
        font-size: 88px;
      }
      @include respond(tab-port) {
        font-size: 64px;
      }
      @include respond(phone) {
        font-size: xx-large;
      }
    }

    .review-wrapper {
      display: flex;
      flex-wrap: wrap;
      row-gap: 3rem;
      column-gap: 3rem;
      width: 100%;
      justify-content: center;
      @include respond(big-desktop) {
        column-gap: 5rem;
        width: 79%;
      }
      @include respond(tab-port) {
        row-gap: 1rem;
        column-gap: 1rem;
      }
      @include respond(phone) {
        padding: 0;
      }
      .card {
        color: $color-primary-bg;
        background-color: $color-white;
        border-radius: 35px;
        padding: 0 2rem;
        width: 42.51%;
        height: 10.667rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        @include respond(big-desktop) {
          width: 36.51%;
        }
        @include respond(tab-land) {
          padding: 0 1rem;
        }
        @include respond(tab-port) {
          padding: 0 0.5rem;
        }
        @include respond(phone) {
          width: 100%;
        }
        .review-name {
          margin: 0;
          font-family: Poppins;
          font-size: 16px;
          font-weight: 900;
          line-height: 24px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          @include respond(phone) {
            font-size: x-small;
          }
        }
        .review {
          font-family: Poppins;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: $color-grey;
          margin: 0;
          @include respond(tab-land) {
            font-size: small;
            line-height: 1rem;
          }
          @include respond(phone) {
            font-size: small;
            line-height: 0.8rem;
          }
        }
      }
      .btn {
        @include respond(phone) {
          width: fit-content;
          height: 2.2rem;
        }
      }
    }
  }
}
