/* You can add global styles to this file, and also import other style files */
*,
html,
body {
  box-sizing: border-box;
}
html,
body {
  width: 118.94rem;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Sen", sans-serif;
  font-size: 18px;
}
.row {
  height: 100%;
}
