<div class="grid-container">
  <div class="row">
    <div class="grid-col-1">hi</div>
    <div class="grid-col-2">hey</div>
  </div>
  <div class="row">
    <div class="grid-col-2">hi</div>
    <div class="grid-col-1">hey</div>
  </div>
  <div class="row">
    <div class="grid-col-1">hihry</div>
    <div class="grid-col-2">hey</div>
  </div>
  <div class="row"><div class="grid-col">hihry</div></div>
  <div class="row"><div class="grid-col">hihry</div></div>
  <div class="row"><div class="grid-col">hihry</div></div>
</div>
