@import "../../assets/sass/abstract/variables";
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  section {
    height: 840px;
  }
  .recipes-section {
    height: fit-content;
  }
  .reviews-section {
    height: 898px;
  }
  .contact-us-section {
    height: 30.78rem;
    margin-bottom: 2rem;
  }
  footer {
    width: 100%;
    height: 117px;
    background-color: $color-brown;
  }
}
