@import "../../assets/sass/abstract/variables";
@import "../../assets/sass/abstract/mixins";
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  section {
    height: 840px;
    @include respond(tab-land) {
      height: 550px;
    }
    @include respond(tab-port) {
      height: 520px;
    }
  }
  .recipes-section {
    height: fit-content;
  }
  .reviews-section {
    height: 898px;
    @include respond(tab-port) {
      height: 520px;
    }
    @include respond(phone) {
      height: fit-content;
    }
  }
  .contact-us-section {
    height: 30.78rem;
    margin-bottom: 2rem;
    @include respond(phone) {
      height: fit-content;
    }
  }
  footer {
    width: 100%;
    height: 117px;
    background-color: $color-brown;
    @include respond(tab-port) {
      height: 5rem;
    }
  }
}
